<footer class="section-footer" id="footer">
  <div class="container footer-container">
    <div class="footer-content-wrapper">
      <div class="footer-info-wrapper">
        <a class="footer-logo-link" href="">
          <svg class="footer-logo-mobile" height="16" width="168">
            <use href="/img/icons.svg#icon-logo-mobile"></use>
          </svg>
          <svg class="footer-logo" height="18" width="194">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-info">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-links-wrapper">
        <ul class="footer-section-links">
          <li class="footer-section-link">
            <a href="#howitworks">how it works</a>
          </li>
          <li class="footer-section-link">
            <a href="#vegetables">vegetables</a>
          </li>
          <li class="footer-section-link">
            <a href="#reviews">reviews</a>
          </li>
        </ul>
        <address class="footer-contacts">
          <a href="tel:+380684439426" class="footer-contacts-tel">
            +380 (68) 443-94-26
          </a>
          <p class="footer-contacts-address">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </address>
      </div>
    </div>
    <div class="footer-copyright-content">
      <p class="footer-privacy">
        <a class="footer-privacy-link" href="">Privacy Policy</a> /
        <a class="footer-privacy-link" href="">Cookie settings</a>
      </p>
      <p class="footer-copyright-label">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
