<section class="how_its_works" id="how-it-works">
  <div class="how-it-works container">
    <div class="how-its-works_img">
      <h2 class="visually-hidden">How it works</h2>
      <picture>
        <source
          srcset="
            /img/how-it-works/woman-desktop.webp    1x,
            /img/how-it-works/woman-desktop@2x.webp 2x
          "
          width="430"
          height="559"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/how-it-works/woman-tablet.webp    1x,
            /img/how-it-works/woman-tablet@2x.webp 2x
          "
          width="640"
          height="640"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/how-it-works/woman-mobile.webp    1x,
            /img/how-it-works/woman-mobile@2x.webp 2x
          "
          width="335"
          height="450"
          media="(max-width: 767px)"
        />
        <img
          src="/img/how-it-works/woman-desktop.webp"
          alt="woman"
          width="430"
          height="559"
        />
      </picture>
    </div>
    <div class="how-its-works-descr">
      <h3 class="how-it-works-text">
        TO ORDER YOUR <span class="vegetable">VEGETABLE</span> BASKET, SIMPLY
        FOLLOW THESE <span class="vegetable">EASY STEPS</span>
      </h3>
      <p class="abt-services">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="list-descr">
        <li class="list-item">
          <p class="p">
            Just choose <span class="spn"> the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="spn">next to it</span>.
          </p>
        </li>
        <li class="list-item">
          <p class="p">
            Click on <span class="spn">the basket</span> and fill out the form.
          </p>
        </li>
        <li class="list-item">
          <p class="p">
            Sit back and relax! Your
            <span class="spn">fresh vegetables</span> basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
