<section id="vegetables" class="vegetables-section">
  <div class="container vegetables-container">
    <h2 class="vegetables-header">
      Organic <span class="vegetables-header-smooth">vegetables</span>
    </h2>
    <p class="vegetables-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-item-header">eggplant</h3>
          <p class="vegetables-item-price">60 usd / kg</p>
          <img
            class="vegetables-item-img"
            srcset="/img/vegetables/eggplant@2x.webp 2x"
            src="/img/vegetables/eggplant.webp"
            alt="eggplant"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-item-header">leek</h3>
          <p class="vegetables-item-price">50 usd / kg</p>
          <img
            class="vegetables-item-img"
            srcset="/img/vegetables/leek@2x.webp 2x"
            src="/img/vegetables/leek.webp"
            alt="leek"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-item-header">mushrooms</h3>
          <p class="vegetables-item-price">40 usd / kg</p>
          <img
            class="vegetables-item-img"
            srcset="/img/vegetables/mushrooms@2x.webp 2x"
            src="/img/vegetables/mushrooms.webp"
            alt="mushrooms"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-item-header">corn</h3>
          <p class="vegetables-item-price">60 usd / kg</p>
          <img
            class="vegetables-item-img"
            srcset="/img/vegetables/corn@2x.webp 2x"
            src="/img/vegetables/corn.webp"
            alt="corn"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <h3 class="vegetables-item-header">sweet potatoes</h3>
          <p class="vegetables-item-price">50 usd / kg</p>
          <img
            class="vegetables-item-img"
            srcset="/img/vegetables/potatoes@2x.webp 2x"
            src="/img/vegetables/potatoes.webp"
            alt="potatoes"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="'vegetables-item-wrapper">
          <h3 class="vegetables-item-header">carrot</h3>
          <p class="vegetables-item-price">40 usd / kg</p>
          <img
            class="vegetables-item-img"
            srcset="/img/vegetables/carrot@2x.webp 2x"
            src="/img/vegetables/carrot.webp"
            alt="carrot"
            width="282"
            height="243"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
