<section class="your-order">
  <div class="container your-order-box">
    <div class="order-text-box">
      <h2 class="order-title">
        Fresh <span class="order-title-accent">Harvest</span> Box has got you
        covered
      </h2>
      <p class="order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="user-coments">
      <p class="user-coments-text">
        Ordering <span class="coments-text-first">from us</span> is quick and
        easy! Fill out <span class="coments-text-second">the form</span> below
        and we will contact you !
      </p>
      <form class="user-coments-form">
        <div class="inp-wrapper">
          <div class="inp-wrapper-username">
            <label class="visually-hidden" for="fullname"></label>
            <input
              class="user-coments-field"
              id="fullname"
              type="text"
              name="username"
              placeholder="Full Name"
              pattern="[A-Za-z\s]{3,20}"
              required
            />
            <p class="text-valid inp-wrapper-username-text">Succes!</p>
            <p class="text-invalid inp-wrapper-username-text">
              Invalid username, try again
            </p>
          </div>
          <div class="inp-wrapper-email">
            <label class="visually-hidden" for="user-email"></label>
            <input
              class="user-coments-field"
              id="user-mail"
              type="email"
              name="user-email"
              placeholder="Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              title="enter correct data"
              required
            />
            <p class="text-valid inp-wrapper-email-text">Succes!</p>
            <p class="text-invalid inp-wrapper-email-text">
              Invalid email, try again
            </p>
          </div>
          <textarea
            class="user-message"
            name="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="contacts-btn" type="submit">Send</button>
      </form>
    </div>
    <div class="order-social">
      <picture>
        <source
          srcset="
            /img/your-order/order-desktop.webp    1x,
            /img/your-order/order-desktop@2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/your-order/order-tablet.webp    1x,
            /img/your-order/order-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/your-order/order-mobile.webp    1x,
            /img/your-order/order-mobile@2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="order-social-pic"
          src="/img//your-order/order-mobile.webp"
          alt="Make fresh fruit juice"
        />
      </picture>
      <p class="social-text">Follow us on our social networks:</p>
      <ul class="social-list">
        <li class="social-item">
          <a
            class="order-social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >instagram</a
          >
        </li>
        <li class="social-item">
          <a
            class="order-social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >facebook</a
          >
        </li>
        <li class="social-item">
          <a
            class="order-social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >youtube</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
