/* advertisement */
.paragraph{
   min-width: 375px;
}

.advertisement-paragraph-part,
.advertisement-paragraph{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.advertisement-paragraph-part{
    display: block;  
    height: 102px;
    border-radius: 12px;
    background: #576F35;
    padding: 3px 10px; 
    color: #FBFBFB;
}

.advertisement-paragraph{
    color: #141414;
    padding-top: 80px;
    padding-bottom: 80px; 
}

@media screen and (min-width:768px){
    .advertisement-paragraph,
    .advertisement-paragraph-part{
        font-size: 64px;
        line-height: 1.09;
        letter-spacing: -0.96px;
    }

    .advertisement-paragraph{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .advertisement-paragraph-part{
        height: 86px;
        padding: 8px 16px;
    }
}

@media screen and (min-width: 1280px){
    .advertisement-paragraph,
    .advertisement-paragraph-part{
        font-size: 76px;
        line-height: 1.05;
        letter-spacing: -1.14px; 
      }

    .advertisement-paragraph-part{
        padding-left: 13px;
        display: inline-block; 
    }

}

