/* advertisement */
.advertisement{
    padding-top: 40px ;
}
.paragraph{
    min-width: 355px;
}

.advertisement-paragraph{
    height: 102px;
    border-radius: 12px;
    background: #576F35;
    padding: 3px 10px;

    color: #FBFBFB;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.72px;
    text-transform: uppercase;  
}

.advertisement-paragraph-part{
    color: #141414;
    display: block; 
    
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.72px;
    text-transform: uppercase;  
}

@media screen and (min-width:768px){
    .advertisement{
        padding-top: 50px;
    }
    .advertisement-paragraph{
        height: 86px;
        padding: 8px 16px;
        font-size: 64px;
        line-height: 1.09;
        letter-spacing: -0.96px;
    }

    .advertisement-paragraph-part{
        font-size: 64px;
        line-height: 1.09;
        letter-spacing: -0.96px;
    }
}

@media screen and (min-width: 1280px){
    .advertisement-paragraph{
        font-size: 76px;
        line-height: 1.05;
        letter-spacing: -1.14px;
        padding-left: 13px;
    }

      .advertisement-paragraph-part{
        display: inline; 
        font-size: 76px;
        line-height: 1.05;
        letter-spacing: -1.14px;
      }
}