/* header */
.page-header {
  position: absolute;
  top: 20px;
  z-index: 10;
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: none;
}

.header-button {
  display: none;
}
.header-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}
.header-menu-img {
  stroke-width: 3px;
  stroke: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    width: 194px;
    height: 18px;
  }
  .header-menu-button {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-logo-link {
    margin-right: 397px;
  }
  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .header-nav-el {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    white-space: nowrap;
  }
  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 157px;
    height: 52px;
    background-color: #7a3145;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    border: #7a3145;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-button:hover,
  .header-button:focus {
    background-color: #622133;
  }
  .header-menu-button {
    display: none;
  }
  .header-nav-el-link {
    padding: 12px;
  }
}

/* mobile menu */

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}
.mobile-menu-container {
  background-color: #7a3145;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 240px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.mobile-menu-close {
  stroke-width: 3px;
  stroke: #fbfbfb;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.mobile-menu-nav-el {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 16px;
  width: 115px;
  height: 42px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-el:hover {
  background-color: #fbfbfb;
  color: #7a3145;
}
.mobile-menu-button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 155px;
  height: 50px;
  background-color: #fbfbfb;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-button:hover {
  color: rgba(122, 49, 69, 0.7);
}
@media only screen and (min-width: 768px) {
  .mobile-menu-container {
    position: fixed;
    width: 351px;
    top: 0;
    right: 0;
    padding-top: 360px;
    padding-bottom: 50px;
  }
  .mobile-menu-close-btn {
    width: 40px;
    height: 40px;
  }
  .mobile-menu-close {
    width: 24px;
    height: 24px;
  }
  .mobile-menu-nav-el {
    font-size: 16px;
    line-height: 1.25;
    padding: 12px;
    width: 114px;
    height: 44px;
    white-space: nowrap;
  }
  .mobile-menu-nav-el:nth-child(2) {
    padding-left: 21px;
    padding-right: 21px;
    width: 119px;
  }
  .mobile-menu-nav-el:nth-child(3) {
    padding-left: 28px;
    padding-right: 28px;
    width: 123px;
  }
}

@media only screen and (min-width: 1280px) {
  .mobile-menu-backdrop {
    display: none;
  }
}
