/* hero */

.hero-section {
    
    background-color: #576F35;
    max-width: 100%;
    background-image: url(../img/hero/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 375px, 370px;
    background-position: bottom;
}

@media screen and (max-width: 375px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-mobile@2x.jpg)
    }
}

.hero-container
{
    padding-top: 100px;
    padding-bottom: 410px;
}

.hero-name {
    font-weight: 600;
    max-width: 335px;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.hero-text {
    max-width: 335px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #fbfbfb;
}

@media screen and (min-width: 768px) {
    .hero-section {
    background-image: url(../img/hero/hero-bg-tablet.jpg);
    background-size: 768px, 539px;
    }

    .hero-container
    {
        padding-top: 122px;
        padding-bottom: 589px;
        width: 768px;
    }

    .hero-name
    {
        font-size: 76px;
        max-width: 704px;
        margin-bottom: 25px;
    }

    .hero-text
    {
        max-width: 603px;
        line-height: 1.25;
        font-size: 16px;
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-tablet@2x.jpg)
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
       background-image: url(../img/hero/hero-bg-desktop.jpg);
       background-position: right;
       background-size: auto 100%;
    }

    .hero-container
    {
        width: 1280px;
        padding-top: 238px;
        padding-bottom: 50px;
    }

    .hero-name
    {
        margin-bottom: 128px;
        max-width: 502px;
    }

    .hero-text
    {
        max-width: 472px;
    }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-desktop@2x.jpg)
    }
}