/* how it works  */

ol
{
counter-reset: section;
list-style: none;
}
.how-it-works
{
    display: flex;
    flex-direction: column;
}
.how-its-works
{
display: flex;
align-items: center;
}
.how-its-works_img
{
width: 375px;
padding: 40px 20px;
background-color: #7A3145;
}
.how-its-works-descr
{
width: 375px;
padding: 80px 20px;
background-color: #576F35;
}
.how-it-works-text
{
font-size: 28px;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.015em;
text-align: left;
color: #FBFBFB;
margin-bottom: 25px;
}
.vegetable
{
color: rgba(251, 251, 251, 0.3);
}
.abt-services
{
font-size: 14px;
font-weight: 500;
line-height: 18px;
text-align: left;
color: #FBFBFB;
margin-bottom: 40px;
}
.list-descr
{
display: flex;
flex-direction: column;
row-gap: 20px;
padding-left: 0;
margin: 0;
}
.list-item
{
background-color: #FBFBFB;
border-radius: 15px;
padding: 17px 27px 17px 24px;
display: flex;
align-items: center;
height: 76px;
}
.list-item::before
{
counter-increment: section;
content: counter(section);
margin-right: 24px;
border-radius: 50%;
color: #FBFBFB;
background-color: #7A3145;
border: 5px solid #D5BFC5;
padding: 11px;
text-align: center;
min-width: 52px;
height: 52px;
}
.p
{
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(20, 20, 20, 0.6);
}
.spn
{
font-weight: 700;
color: rgba(20, 20, 20, 1);
}
@media screen and (min-width: 768px)
{
    .how-its-works_img
    {
    width: 768px;
    padding: 100px 64px;
    }
    .how-its-works-descr
    {
    width: 768px;
    padding: 100px 159px;
    }
    .how-it-works-text
    {
    font-size: 32px;
    line-height: 32px;
    }
    .abt-services
    {
    font-size: 16px;
    line-height: 20px;
    }
    .p
    {
    font-size: 16px;
    line-height: 20px;
    }
    .spn
    {
    font-size: 16px;
    line-height: 20px;
    }
}
@media screen and (min-width: 1280px)
{
    .how-it-works
    {
    flex-direction: row;
    }
    .how-its-works_img
    {
    max-width: 630px;
    padding: 100px;
    }
    .how-its-works-descr
    {
    width: 680px;
    padding: 100px 100px 160px;
    }
}