/* reviews */

.container-reviews {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-reviews {
  background: #fbfbfb;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  max-width: 335px;
  margin-bottom: 20px;
}

.span-review {
  color: #576f35;
}

.reviews-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.23;
  color: #141414;
  max-width: 335px;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.reviews-item {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding: 20px 16px;
  max-width: 335px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.custom-img {
  border-radius: 72px;
  width: 56px;
  height: 56px;
}

.custom-caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #040306;
}

.custom-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  padding-bottom: 8px;
}

@media (min-width: 335px) and (max-width: 767px) {
  .custom-2,
  .custom-3 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .container-reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .reviews-title {
    max-width: 553px;
    margin-bottom: 25px;
  }

  .reviews-desc {
    max-width: 553px;
    margin-bottom: 50px;
  }

  .reviews-item {
    max-width: 343px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .custom-3 {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
